@model Capstone_Project.Models.Login
<title>Bon.ker Casting</title>
<link href="@Url.Content("~/LoginStyle/mainLogin.css")" rel="stylesheet" type="text/css" />

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<style>
    body {
        background-color: lightgray;
    }

    .login-block1 {
        float: left;
        width: 100%;
        padding: 5px 0;
    }
</style>

<div class="navbar navbar-inverse navbar-fixed-top">
    <ul class="nav navbar-nav" id="user">
        <li> <img src="~/Images/Company_Logo.PNG" alt="Sample Photo" height="50" /></li>
    </ul>
    <ul class="nav navbar-nav">
        <li>
            @Html.ActionLink("Home", "Index", "Home")
        </li>
    </ul>
</div>
@*<section class="login-block1">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h1 style="color:#77773c; font-weight: 800;"><i class="fa fa-lock"><b>Login Now</b></i></h1>

                </div>
            </div>
        </div>
    </section>*@
<h1 style="color:#77773c; font-weight: 800;padding-left:20px"><i class="fa fa-lock"><b>Login Now</b></i></h1>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <section class="login-block">

        <div class="row">
            <div class="col-md-4 login-sec">
                <form class="login-form">

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            @Html.EditorFor(model => model.UserName, new
                       {
                           htmlAttributes = new { @class = "form-control input-l", placeholder = @Html.DisplayName("UserName") }
                       })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" }),
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>

                            @Html.EditorFor(model => model.Password, new
                       {
                           htmlAttributes = new { @class = "form-control input-l", placeholder = @Html.DisplayName("Password") }
                       })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <p style="color:red">@ViewBag.Error</p>

                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-lg btn-primary btn-block" />

                    </div>
                    <div class="form-group">

                        @Html.ActionLink("Forgot Password?", "ForgotPassword", "Home")

                    </div>
                    <div class="form-group">
                        @Html.ActionLink("Not a member? Register.", "Register", "Home")


                    </div>
                </form>
            </div>
            <div class="col-md-8 banner-sec">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="~/Images/men.jpg" alt="First slide" width="88%" style="position:center">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="banner-text">
                                    <h2>This is Heaven</h2>
                                    @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>*@
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
}
