@model IEnumerable<Capstone_Project.Models.Talent>

@{
    ViewBag.Title = "Search";
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <ul class="nav navbar-nav" id="user">
        <li> <img src="~/Images/Company_Logo.PNG" alt="Sample Photo" height="50" /></li>
    </ul>
</div>

<h2>Search</h2>

@using (Html.BeginForm("Search", "Home"@*, FormMethod.Post*@))
{

<div class="form-inline">

    @Html.Editor("SearchString", new { htmlAttributes = new { @class = "form-control input-l", placeholder = @Html.DisplayName("Name")}
     })
    <p>You can search by first name or last name</p>
    @*Last Name: @Html.Editor("SearchString1", new { htmlAttributes = new { @class = "form-control" } })*@

    @Html.DropDownList("SearchString2", new List<SelectListItem>
{
new SelectListItem{ Text="Male", Value = "Male" },
new SelectListItem{ Text="Female", Value = "Female" },
new SelectListItem{ Text="Other", Value = "Other" }
}, "Gender", htmlAttributes :new { @class = "form-control" })

    @Html.DropDownList("SearchString3", new List<SelectListItem>
{
new SelectListItem{ Text="Caucasian", Value = "Caucasian" },
new SelectListItem{ Text="Black", Value = "Black" },
new SelectListItem{ Text="Asian", Value = "Asian" },
new SelectListItem{ Text="Indian", Value = "Indian" },
new SelectListItem{ Text="Latino", Value = "Latino" },
new SelectListItem{ Text="Mid-East", Value = "Mid-East" },
new SelectListItem{ Text="First Nation", Value = "First Nation" }
}, "Ethnicity", htmlAttributes :new { @class = "form-control" })

    @Html.Editor("SearchString4", new
       {
           htmlAttributes = new { @class = "form-control input-l", placeholder = @Html.DisplayName("Height") }
       })

    <br />
    <br />

     @Html.Editor("SearchString5", new
        {
            htmlAttributes = new { @class = "form-control input-l", placeholder = @Html.DisplayName("Weight") }
        })

    @Html.Editor("SearchString6", new
        {
            htmlAttributes = new { @class = "form-control input-l", placeholder = @Html.DisplayName("CarMake") }
        })


    @Html.DropDownList("SearchString7", new List<SelectListItem>
                {
                   new SelectListItem{ Text="Full", Value = "Full" },
                   new SelectListItem{ Text="Apprentice", Value = "Apprentice" },
                   new SelectListItem{ Text="AABP", Value = "AABP" },
                   new SelectListItem{ Text="Non-Union", Value = "Non-Union" }
                }, "Union Status", htmlAttributes :new { @class = "form-control" })

</div>

<br />
<input type="submit" value="Search" class="btn btn-default" />

<br />
<br />
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)

        </th>


    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)

        </td>

        <td>
            @Html.ActionLink("Details", "Details", new { id = item.PKTalent_ID })
        </td>
    </tr>

    }

</table>









