@using Capstone_Project.Models

@{
    ViewBag.Title = "WelcomeAdmin";
}

@{
    var admin = (Admin)TempData["Admin"];
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Bon.ker Casting", "Login", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <img src="~/Images/ABC.PNG" alt="Sample Photo" height="50" />
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" style="font-weight:bold">
                <li>@Html.ActionLink("View All Talents", "Index", "Talents")</li>
                <li>@Html.ActionLink("View All Casting Directors", "ViewAllCastingDirector", "Home")</li>
                <li>@Html.ActionLink("Search Talent", "SearchTalent", "Home")</li>
                <li>@Html.ActionLink("Logout", "Login", "Home")</li>

            </ul>
        </div>
    </div>
</div>
<br />
<div>
    @Html.DropDownList("Drop", new List<SelectListItem> { new SelectListItem { Text="Select Report", Value="1"},
                new SelectListItem { Text="Registration Report", Value="2"}, new SelectListItem { Text="Talent Employee Rate", Value="3"} }, new { @class = "form-control" })
    <br />
    <div>
        <input type="button" class="btn btn-info" value="View Reports" onclick="location.href='@Url.Action("Create", "Talents")'" />
    </div>

</div>
