<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link href="@Url.Content("~/CssLayouts.css")" rel="stylesheet" type="text/css" />*@
    @*<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @RenderBody()
    <title>Bon.ker Casting</title>

</head>
<body>


</body>


</html>
@*<footer id="footer">
        <p>&copy; Mandy Kerfoot</p>
    </footer>*@
@*   </div>*@
<br />
<br />
<div style="width: 100%;position:fixed;bottom:0px;background-color:lightblue;">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
            </div>
        </div>
        @*<div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="javascript:void();"><i style="color:blue; font-size:25px" class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i style="color:lightblue; font-size:25px" class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i style="color:lightpink; font-size:25px" class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i style="color:red; font-size:25px" class="fa fa-google-plus"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i style="color:lightblue; font-size:25px" class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>*@
        <div class="row">
            <div>
                <p >Bon.Ker Casting Agency</p>
                <p class="h6">&copy All right Reversed.<a class="text-green ml-2">Mandy Kerfoot</a></p>
            </div>
        </div>
    </div>
</div>

@*@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)*@



